
   .paper {
     padding: 16px;
   }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .fileInput {
    width: 97%;
    margin: 10px 0px
    
  }

  .buttonSubmit {
    margin-bottom: 10px !important;
  }